.final-modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20vh;
  padding-bottom: 10vh;
  overflow-y: auto;
  cursor: auto;

  .button-section {
    justify-content: flex-end;
  }
}

.final-modal-content {
  position: relative;
  padding: 1.25rem;
  top: 40%;
  transform: translateY(-40%);
  max-width: calc(100vw - 4rem);
  // substract the padding top and bottom
  max-height: calc(100vh - 15vh - 15vh);
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 3px 0 20px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    max-width: calc(65vw - 30px);
  }
}

.vfm--overlay {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.dark .modal-content {
  background: #000;
}

.final-modal-close {
  background-image: url(../assets//icons/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  padding: 0;
  background-position: center;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}